# Statistics Introduction Applied to Data Science
## Lab : One
### Data types in Python

In [1]:
# This is a comment in python
# print message on the screen
print('Hello world, from Python !!')

Hello world, from Python !!

In [2]:
# Python includes predefined libraries with functions that facilitate our job.
# What python version we use?
# We use sys library to see python version.
import sys
print(sys.version)

3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]

In [3]:
# We can check datatype with command type.
type('Hasta la vista, baby !!')

str

### Practice One: Print your name on the screen.

In [ ]:
# Type your code here

### Others datatypes

In [ ]:
print(11)
print(type(11))

In [ ]:
print(3.1416)
print(type(3.1416))

In [ ]:
# Merge string and number in one output
pi = 3.1416
print("The pi number is:", pi)

### Practice Two: Print "My age is: " and next, outside quotation mark print your age number.

In [ ]:
# Type your code here

### Typecasting

In [4]:
# Datatype integer
type(225)

int

In [5]:
# Datatype float
my_float = float(225)
my_float

225.0

In [6]:
# Check datatype float
type(my_float)

float

In [7]:
# From float to integer
my_integer = int(225.75)
my_integer

225

In [8]:
type(my_integer)

int

In [9]:
# From string to number
my_string = '225'
int(my_string)

225

In [10]:
float(my_string)

225.0

In [11]:
float('cat')

ValueError: could not convert string to float: 'cat'

### From number to string

In [ ]:
str(225)

In [ ]:
str(3.1416)

### Boolean datatype

In [ ]:
type(True)

In [ ]:
int(True)

In [ ]:
int(False)

### Practice Three: What kind of data result if divide 15 / 3?

In [ ]:
# Type your code here

### Practice Four: What kind of data result if operate 15 % 3?

In [ ]:
# Type your code here