# Statistics Introduction Applied to Data Science
## Lab : Three
## Dataframes

In this lab, we use import sentence to load pandas and numpy python libraries that we need to work with dataframe.

In [ ]:
import pandas as pd
import numpy as np

We need read_csv method to load Operations.csv dataset on df_operations dataframe. The path depend where you have stored csv files.

In [ ]:
df_operations = pd.read_csv('data/Operations.csv')

In [ ]:
df_operations['Customer'].count()

By default, head() method return the five first rows from dataframe.

In [ ]:
df_operations.head()

We can change default value, indicating the number of rows between parentheses.

In [ ]:
df_operations.head(3)

With info() method get basic information from dataframe.

In [ ]:
df_operations.info()

With dtypes we can see data type from each dataframe column.

In [ ]:
df_operations.dtypes

Query dataframe columns names.

In [ ]:
df_operations.columns.values

Query dataframe rows index.

In [ ]:
df_operations.index.values

With size method we can see how many data are there in the dataframe.

In [ ]:
df_operations.size

The shape method return the tuple (rows, columns) from dataframe.

In [ ]:
df_operations.shape

Unlike the head() method, the tail() method return by default, the last five rows from dataframe.
Of course, you can change this.

In [ ]:
df_operations.tail()

In [ ]:
df_operations.tail(2)

## How to get slices from dataframe.

Get only America operations.

In [ ]:
df_operations [(df_operations['Continent'] == 'America')].head()

Get America operations and person customer type.

In [ ]:
df_operations [(df_operations['Continent'] == 'America') & (df_operations['Customer Type'] == 'Person')].head()

Get only sales and country columns.

In [ ]:
df_operations[['Sales','Country']].head()

## LOC

LOC is primarily label based; when two arguments are used. You use column headers and row indexes to select the data you want. loc can also take an integer as a row or column number.
In this example, we gets sales and country columns of first row. Remember, the rows index begin with zero.

In [ ]:
df_operations.loc[0,['Sales','Country']]

Look at the data types is changed. The result is not a dataframe but a series type.

In [ ]:
type(df_operations.loc[0,['Sales','Country']])

Another way to do and get a dataframe.

In [ ]:
df_operations.loc[0:0,['Sales','Country']]

In [ ]:
type(df_operations.loc[0:0,['Sales','Country']])

In [ ]:
df_operations.loc[1:2,['Sales','Country']]

## ILOC

iloc is integer-based. You use column numbers and row numbers to get rows or columns at particular positions in the data frame.
Below, the code to get the rows one and two from sales and country columns.

In [ ]:
df_operations.iloc[1:3,4:7]

Ops, it's not good. We get refund column too. Let's to resolve it

In [ ]:
df_operations.iloc[1:3,[4,6]]

The astype method allows us to modify the data type for one or more columns separated by commas. At the beginning of the lab we see that the Customer column was imported with the int64 data type. Although it is true that it is a number, for practical purposes it is not. Rather we should work it as a categorical variable. So we modify the data type to object.

In [ ]:
df_operations = df_operations.astype({'Customer': 'object'})

In [ ]:
df_operations.dtypes

Adding new variables to the dataframe.

In [ ]:
df_operations['Profits'] = df_operations['Sales'] - df_operations['Purchases']
df_operations.head()

### Practice One: Get a list of all operations on Europe with transfer payment type.

In [ ]:
# Type your code here

### Practice Two: Get the columns Customer, Country and Continent of operations dataframe. But only the rows five, six and seven.

In [ ]:
# Type your code here

### Practice Three: In operations dataframe, add a new column named deduction and assign to it fifteen percent from each row of the column Sales.

In [ ]:
# Type your code here